
/*@font-face{*/
/*            font-family:CoffeeAtMidnight;*/
/*        src:url('Coffee_At_Midnight_Demo.ttf');*/
/*}*/

@font-face {
    font-family:Coffee_At_Midnight_Demon;
    src: url(http://www.font-face.com/fonts/delicious/Delicious-Roman.otf);
    font-weight:400;
}



#remoteVideos video {
top: 50%;
height: 250px;
bottom: 900;
position: relative;
right:0;
 width: 350px;
 float: right;
 border-style: solid;
 border-width:20px;
 border-color:#ffdd99;

 }
 #localVideo {
top: 50%;     
height:250px;
bottom: 900;
position: relative;
right:0;
 width: 350px;
 float: left;
 border-style: solid;
 border-width:23px;
 border-color:#ffdd99;
 }
body { 
    background:#ffffcc;
}
/*https://turf-erika-angelopoole-2.c9users.io/index.html*/
  
 #meow{
     font-size:500%;
   color:#86592d;
   font-family: DeliciousRoman, Helvetica, Arial, sans-serif;

   text-align:center;
 }



    {background-position: 0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

