#remoteVideos video {
height: 300px;
bottom: 900;
right:0;
 width: 500px;
 float: right;
 }
 #localVideo {
height:300px;
bottom: 900;
right:0;
 width: 500px;
 float: left;
 }
body { 
    background:#404040  
}
/*https://turf-erika-angelopoole-2.c9users.io/index.html*/
 

